.modal-content{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenido-modal{
    width: 70rem;
    height: 38rem;
    background: #fff;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,.1);
    padding: 2rem;
    
}

.modal__btnClose{
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    color: red;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

